body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

.project {
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img, .project video {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 1em auto;
}

.project p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
